// Bangla Google fonts
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

// General Code for Website
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Tiro Bangla', serif;
 }
 #bg{
   width: 100wv;
   height: auto;
   background-repeat: round;
 }

//  Top Header css

.top_header{
    height: 30px;
    background-color: violet;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    border-bottom: 1px solid red;
    .date{
      border-right: 1px solid white;
    }
    .nav-hover:hover{
      background-color: red;
    }

    
}
